/* borders #663931 */
@font-face {
    font-family: 'GamerFont';
    src: url('public/assets/images/Gamer.ttf');
}
.container {
    border: 6px solid #ca691c;
    border-radius: 8px;
    background-color: #ffc59b;
    transform: translate(0, 50px);
    display: flex; 
    margin: 2%;
    padding-bottom: 20%;
}

.frame {
    height: 25%;
    position: relative;
    background: #fdd182;
    margin: 3rem;
    border: 6px solid #ca691c;
    border-radius: 3px;
    box-shadow: 10px 10px 6px #c78a61;    
}

.info {
    margin: 50px;
    justify-content: center;
}

.banner {
    width: auto;
    background: #fdd182;
    border: 6px solid #ca691c;
    border-radius: 6px;
    box-shadow: 10px 10px 6px #c78a61;
    text-align: center;
    margin-bottom: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text {
    text-wrap: balance;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
