/* borders #663931 */

.container {
    position: relative;
    border: 6px solid #ca691c;
    border-radius: 8px;
    background-color: #ffc59b;
    transform: translate(0, 50px);
    display: flex;
    flex-wrap: wrap;
}

.frame {
    height: 3%;
    position: relative;
    background: #fdd182;
    margin-top: 50px;
    border: 6px solid #ca691c;
    border-radius: 3px;
    box-shadow: 10px 10px 6px #c78a61;
    display: inline-block;
    
}

.banner {
    width: 25%;
    background: #fdd182;
    border: 6px solid #ca691c;
    border-radius: 6px;
    position: absolute;
    top: 50px;
    left: 325px;
    box-shadow: 10px 10px 6px #c78a61;
    text-align: center;
}

.text {
    position: relative;
    text-wrap: balance;
    margin-top: 10%;
}
