body {
    background-color: #FAF4EF;
}

/* Styling for the nav bar at top of page */
/* Parent level uses display: flex */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    font-family: 'Varela Round', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #152852;
    color: #fff;
}

header h1 {
    width: 50%;
    font-size: 35px;
}

figure {
    position: relative;
}

figure h2 {
    position: absolute;
    z-index: 1;
    padding: 2%;
    bottom: 3%;
    left: 85%;
    box-shadow: #fff 4px 4px 2px;
    background-color: #152852;
    color: #fff;
    font-family: 'Varela Round', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 100%;
}

.navItems li {
    /* places navigation links in line with each other */
    display: inline-block;
    padding: 0px 10px;
    color: #fff;
}

a {
    /* Eliminates link styling */
    text-decoration: none;
    font-size: 120%;
    color: #fff;
}

/* Sets background image to span screen size */
.backgroundImg {
    width: 100%;
}


.contentSection {
    /* Display flex for section spacing and alignment */
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
}


.sectionTitle {
    display: block;
    width: 100%;
    border-bottom: 3px solid #152852;
    text-align: left;
    padding-top: 1%;
    margin-bottom: 2%;
}

.sectionTitle h2 {
    font-family: 'Varela Round', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    padding-right: 6%;
    color: #152852;
}

.text {
    width: 65%;
    margin: 2% 5%;
    /* border: 2px solid red; */
}

/* Styling for contact me links */
.text ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.text a {
    color: #152852;
}

/*Styling for project gallery*/
.projectShowcase {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1%;
}

/* Sets positioning and styling for images of projects */
.projectCard {
    width: 45%;
    position: relative;
    margin: 2%;
    height: fit-content;
}
.projectCard img {
    opacity: 0.5;

}
/* Adds hover effect for project cards */
.projectCard img:hover {
    opacity: 1.0;
}

.projectCard .projectCaptions {
    position: absolute;
    z-index: 1;
    padding: 1%;
    bottom: 10%;
    box-shadow: #fff 4px 4px 2px;
    background-color: #152852;
    color: #fff;
    font-family: 'Varela Round', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Styling for featured project within project showcase*/
#image1 {
    position: relative;
}

#image1 img {
    width: 100%;
    opacity: 0.5;
}
/* Adds hover effect for featured project */
#image1 img:hover {
    opacity: 1.0;
}

#image1 .projectCaptions {
    position: absolute;
    z-index: 1;
    padding: 1%;
    bottom: 10%;
    box-shadow: #fff 4px 4px 2px;
    background-color: #152852;
    color: #fff;
    font-family: 'Varela Round', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}